@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html,

body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

nav {
    background-color: #222831;
    color: #fff;
}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

.menu {
    width: 50%;

}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu > ul > li>  a {
    text-decoration: none;
    color: #fff;

}